.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.results-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.edit-icon {
  cursor: pointer;
  margin-left: 8px;
}

.to-checkout {
  background-color: #266e9e;
  height: 6rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: end;
}

.last-component {
  margin-bottom: 6rem;
}

.to-checkout-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  gap: 20px;
}
.to-checkout-cont__left {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0.5s ease,
    padding 0.5s ease, margin 0.5s ease !important;
  max-height: 0 !important;
  overflow: hidden;
}

@media (max-width: 768px) {
  .stepper-container {
    display: none;
  }
  .form-viaggio-result {
    width: 90%;

    padding: 0px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .row-cont__detail_result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  .flex-result-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: 100%;
  }
  .form-viaggio-result-cont {
    width: 100%;
  }

  .results-container {
    width: 100%;
    align-items: center;
    padding: 3px;
  }

  .form-viaggio-result-cont {
    width: 100%;
    flex-direction: column;
  }
  .card-container__right h2 {
    font-size: large;
  }

  .card-container {
    padding: 5px !important;
  }
  .card-container__right h4,
  .card-container__right p,
  .card-container__left h4,
  .card-container__left p {
    font-size: small;
  }

  .to-checkout-cont__left div {
    font-size: 0.7rem;
  }
  .to-checkout-cont {
    margin: 0;
  }
  .to-checkout {
    justify-content: center;
  }
  .result-card-container {
    width: 90%;
  }
}
@media (max-width: 380px) {
}
