.home-page {
  margin: 30px;
}

.row-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.row-cont__detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.date-picker {
  width: 100% !important;
}

.date-picker input {
  border: none !important;
}

.passenger-card {
  width: calc((100% / 3) - 20px) !important;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

:hover.passenger-card {
  background-color: #f0f4f8;
}

.card-viaggio {
  width: 680px;

  margin-bottom: 10px;

  gap: 0.6rem 1.5rem !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-page-viaggio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tab-viaggio {
  border-radius: 10px !important;
}

.select-viaggio {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid #b8bcbf;
}

@media (max-width: 768px) {
  .home-page {
    margin: 8px;
  }

  .card-viaggio {
    width: 100%;
  }

  .row-cont {
    margin-top: 10px;
  }

  .select-viaggio {
    width: 100%;
    height: 56px !important;
  }
  .date-picker {
    width: 100%;
    height: auto !important;
  }

  .passenger-card {
    width: 100% !important;
  }

  .row-cont__detail {
    gap: 20px;
  }

  .tab-viaggio {
    font-weight: 800 !important;
    font-size: 12px !important;
    height: 40px !important;
    padding: 3px !important;
  }
}
