* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-aliceblue {
  background-color: aliceblue !important;
}
.bg-passeggeri {
  background-color: aliceblue;
}

.date-picker {
  height: 36px;
  border-radius: 10px;
}
.fixed {
  position: sticky;
  top: 0;
}
.react-datepicker-wrapper {
  width: 100%;
}

.tab.active {
  background-color: #0d6efd !important;
  color: #fbfcfe !important;
}

.overlay {
  z-index: 9999 !important;
}

.top-2 {
  top: -20px !important;
}

.mb--2 {
  margin-bottom: -14px !important;
}

.MuiTablePagination-displayedRows {
  margin: 0 !important;
}

select {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
}

.icon,
.text-primary {
  color: black !important;
}
.select-viaggio {
  background-color: white !important;
  color: black !important;
}

.date-picker {
  background-color: white !important;
  color: black !important;
  height: 58px !important;
}

/* input::placeholder,
.date-picker label,
.form-check-label,
.dettagli label {
  color: black !important;
  font-weight: 600 !important;
  opacity: 1 !important;
} */

/* Mobile specific styles */
@media (max-width: 768px) {
  select {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }
}
