* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-aliceblue {
  background-color: aliceblue !important;
}
.bg-passeggeri {
  background-color: aliceblue;
}

.date-picker {
  height: 36px;
  border-radius: 10px;
}
.fixed {
  position: sticky;
  top: 0;
}

.tab.active {
  background-color: #0d6efd !important;
  color: #fbfcfe !important;
}

.overlay {
  z-index: 9999 !important;
}

.top-2 {
  top: -20px !important;
}

.mb--2 {
  margin-bottom: -14px !important;
}
